@model List<SPTechnicalTest.ViewModels.IndexViewModel>

@{
    ViewBag.Title = "WeeklyReport";

    @Styles.Render("~/Content/css");
}

    <section id="WeeklyReport" class="container">
        <article class="Table row table-row">

            <div class="TableHeader offset-3 col-9 text-center table-bordered border-dark">
                <h3 class="font-weight-bold p-0">USERS</h3>
            </div><!--/.TableHeader-->

            <div class="Users offset-3 col-9 table-bordered border-dark">
                <div class="row">
                    @foreach (var vm in Model)
                    {
                        <div class="col-4 text-center table-bordered border-dark">
                            <h4 class="UserName">@vm.Name</h4><!--.UserName/-->
                            <div class="Countries row">
                                <div class="col-6 table-bordered"><h5>UK</h5></div>
                                <div class="col-6 table-bordered"><h5>SA</h5></div>
                            </div><!--/.Countries-->
                        </div>
                    }
                </div>
            </div><!--/.Users-->



        </article><!--/.PageRow-->
    </section><!--/#WeeklyReport-->
